{% extends "::base.html.twig" %}

{% block title %}AppBundle:ListeCoursesClient:ListeCoursesClients{% endblock %}

{% block body %}
<h1>Welcome to the ListeCoursesClient:ListeCoursesClients page</h1>
{% endblock %}
