{% extends "::base.html.twig" %}

{% block title %}AppBundle:ListeCoursesLivreur:ListeCoursesLivreur{% endblock %}

{% block body %}
<h1>Liste des courses livreur</h1>
{% for course in courses%}
    {{course.PdeRetrait}}
    {{course.PdeLivraison}}
    {{course.prix}}
    {{course.etat}}<br>
{% endfor%}
{% endblock %}
