{% extends "::base.html.twig" %}

{% block title %}AppBundle:AjouterCourse:AjouterCourse{% endblock %}

{% block body %}
<h1>Welcome to the AjouterCourse</h1>
<div>
{{form(monForm)}}
</div>
{% endblock %}
