{% extends "::base.html.twig" %}

{% block title %}AppBundle:AjouterCourse:AjouterCourse{% endblock %}

{% block body %}
<h1>Ajoutez une course</h1>
<div class="well clearfix">
{{form(monForm)}}
</div>
{% endblock %}
